$white: #fff;
$theme: #284269;
$gray: #848484;
$dark-blue-gray: #37474F;
$black: #222;

$breakpoints: (
  sm: 576px, // phone
  md: 768px, // tablet
  lg: 992px, // desktop
  xl: 1200px // wide desktop
);

$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 16px;
$space-md: 36px;
$space-lg: 60px;
$space-xlg: 100px;
$space-xxlg: 180px;

